@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style class */
.primary-color{
  color: rgb(255, 84, 0);
}

.dark-1{
  color: rgb(19, 19, 24);
}

.dark-2{
  color: rgba(19, 19, 24, 0.7);
}

.dark-3{
  color: rgb(66, 66, 71);
}

.dark-4{
  color: rgb(90, 90, 93);
}

.d-flex{
  display: flex;
}

.txt-center{
  text-align: center;
}

.section-heading{
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 50px;
}

.sub-heading{
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 30px;
}

.description{
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.btn{
  border: none;
  padding: 14px 34px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 25px;
  background: rgb(255, 84, 0);
}

/* Header style */
header{
  margin: 52px 135px 0 135px;
}

header nav{
  justify-content: space-between;
  align-items: center;
}

header nav > a{
  text-decoration: none;
  align-items: center;
  column-gap: 16px;
}

header nav > a h3, header nav > a h3 span{
  font-size: 2.25rem;
  font-weight: 800 !important;
  line-height: 45px;
}

header nav ul{
  column-gap: 44px;
  align-items: center;
}

header nav ul li{
  list-style: none;
}

header nav ul li a{
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 23px;
  text-decoration: none;
}

/* Banner styles */
#banner{
  background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 106px 185px;
  margin-top: 50px;
  margin-bottom: 100px;
}

#banner h1{
  color: #ffffff;
  font-size: 4rem;
  font-weight: 800;
  line-height: 80px;
}

#banner p{
  margin-top: 24px;
  margin-bottom: 48px ;
  color: #ffffff;
}

#banner form{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

#banner form input[type="text"], #banner form select{
  width: 174px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  line-height: 20px;
  padding: 16px;
}

#banner form input[type="text"]:focus-visible, #banner form select:focus-visible , #banner form button:focus-visible{
  outline: none;
}

#banner form button{
  align-items: center;
  column-gap: 8px;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
}



/* main section style */
main{
  margin: 100px 135px;
}

main> section{
  margin-bottom: 100px;
}

/* popular tours style */
#popular-tours {
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}

#popular-tours .section-txt{
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

#popular-tours .section-txt ul{
  margin-left: 20px;
}

#popular-tours .section-txt ul li{
  margin-bottom: 16px;
  text-align: left;
  padding-right: 50px;
}

#popular-tours .section-txt button{
  color: #ffffff;
  width: fit-content;
}


/* your destinamtion */
#your-destination> p{
  margin-top: 24px;
  padding: 0 163px;
}

#your-destination .places{
  margin-top: 48px;
  display: grid;
  row-gap: 24px;
}

#your-destination .places img{
  filter: brightness(80%);
  width: 100%;
  height: 300px;
}


#your-destination .places .row-1, 
#your-destination .places .row-2, 
#your-destination .places .row-3{
  display: grid;
  column-gap: 24px;
}

#your-destination .places .row-1{
  grid-template-columns: repeat(2, 1fr);
}

#your-destination .places .row-2{
  grid-template-columns: 1fr 2fr 1fr;
}

#your-destination .places .row-3{
  grid-template-columns: 1fr 2fr;
}

#your-destination .places .row-1 .img,
#your-destination .places .row-2 .img,
#your-destination .places .row-3 .img{
  position: relative;
}

#your-destination .places .row-1 .img p,
#your-destination .places .row-2 .img p,
#your-destination .places .row-3 .img p{
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* why choose us */
#why-us .section-txt{
  padding: 0 263px;
  margin-bottom: 48px;
}

#why-us .section-txt h2{
  margin-bottom: 24px;
}

#why-us  .cards{
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

#why-us  .cards .card-1{
  background-color: rgba(251, 181, 99, 0.05);
  border: 1px solid rgba(251, 181, 99, 0.2);
}

#why-us  .cards .card-2{
  background-color: rgba(41, 206, 246, 0.05);
  border: 1px solid rgba(41, 206, 246, 0.2);
}

#why-us  .cards .card-3{
  background-color: rgba(233, 68, 68, 0.05);
  border: 1px solid rgba(233, 68, 68, 0.2);
}

#why-us  .cards .card{
  width: 573px;
  padding: 32px;
  border-radius: 16px;
}

#why-us  .cards .card h3{
  margin-top: 32px;
  margin-bottom: 16px;
  color: rgb(19, 19, 24);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 30px;
}







/* footer style */
footer{
  padding: 110px 284px;
  background: rgba(19, 19, 24, 0.05);
}

footer .container >a {
  column-gap: 16px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}


footer .container >a h2 span{
  font-weight: 800;
}

footer .container  p{
  margin-top: 16px;
  margin-bottom: 32px;
}

footer .container .social-icons{
  justify-content: center;
  column-gap: 32px;
  align-items: center;
  border-bottom: 1px solid rgba(19, 19, 24, 0.1);
  padding-bottom: 50px;
}

footer .container .social-icons a{
  text-decoration: none;
  font-size: 2.5rem;
  color: rgb(19, 19, 24);
}

footer .container p.copyright{
  margin-top: 50px;
  margin-bottom: 0;
  color: rgb(19, 19, 24);
  font-weight: 300;
}

footer .container p.copyright  a{
  text-decoration: none;
  color: rgb(19, 19, 24);
}


/* for small device(below 576px) */
@media screen and (max-width:576px) {
  header{
    margin: 18px 20px;
  }

  header nav{
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 18px;
  }

  header nav ul {
    column-gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header nav ul li a {
  font-size: 1rem;
}


#banner {
  border-radius: 16px;
  padding:32px 16px;
  margin-top: 0px;
  margin-bottom: 100px;
}

#banner h1 {
  color: #ffffff;
  font-size: 1.375rem;
  font-weight: 800;
  line-height: 28px;
}

#banner p {
  font-size: 0.875rem;
  margin-top: 8px;
  line-height: 1.4;
  margin-bottom: 32px;
}
  

#banner form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 0px;
  row-gap: 16px;
  padding: 16px;
  border-radius: 8px;
}

#banner form input[type="text"], #banner form select {
  width:100%;
}


#banner form button {
  justify-content: center;
}



/* main style */
main{
  margin: 50px 20px;
}

main > section{
  margin-bottom: 60px;
}

/* popular tours */
#popular-tours {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  column-gap: 0px;
  row-gap: 20px;
}

#popular-tours .section-txt h2{
  text-align: center;
}

#popular-tours .section-txt ul li{
  margin-bottom: 8px;
  text-align: left;
  padding-right: 0px;
}

.section-img img{
  width: 100%;
}


/* your-destination */

#your-destination> p {

  margin-top: 16px;
  padding: 0px 10px;
}


#your-destination .places {
  margin-top: 24px;
  display: grid;
  row-gap: 16px;
}


#your-destination .places .row-1, #your-destination .places .row-2, #your-destination .places .row-3 {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

#your-destination .places img {
  height: 176px;
}


/* why choose us */
#why-us .section-txt {
  padding: 0;
  margin-bottom: 24px;
}

#why-us .section-txt h2 {
  margin-bottom: 16px;
}

#why-us .cards .card {
  width: 100%;
}

footer{
  padding: 50px 20px;
}

footer .container p {
  margin-top: 16px;
  margin-bottom: 16px;
}

footer .container .social-icons {
  padding-bottom: 24px;
}

footer .container .social-icons a {
  font-size: 2rem;
}

footer .container p.copyright {
  margin-top: 24px;
  margin-bottom: 0;
}
}